
* {
    box-sizing: border-box;
}

body{
    font-size: 1.1em;
}

.serviceRequestLeftColumn {
    float: left; 
    width: 30%;
    padding: 10px;
    text-align: right;
}

.serviceRequestRightColumn{
    float: right; 
    width: 70%;   
    padding: 10px;
}